
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */

.glass-effect {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
}


@keyframes appear {
      0% {
            opacity: 1;
            transform: translateY(0) scale(1);
      }

      50% {
            opacity: 1;
            transform: translateY(-10px) scale(1.1);
      }

      100% {
            opacity: 0;
            transform: translateY(-20px) scale(0.8);
      }
}

.animate-appear {
      animation: appear 1s ease-out;
}
